@charset "UTF-8";
/*Шрифты*/
@font-face {
  font-family: "MacPaw Fixel";
  src: url("../fonts/FixelText-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MacPaw Fixel";
  src: url("../fonts/FixelText-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MacPaw Fixel";
  src: url("../fonts/FixelText-Regular.woff2");
  font-weight: 400;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  background-color: #fff;
}

header, section, footer {
  background-color: #000;
}

body {
  font-family: "MacPaw Fixel", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header-content {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content .nav {
  display: flex;
  width: 100%;
  justify-content: right;
}
.header-content .nav .nav__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.header-content .nav .nav__list .nav__item {
  margin-left: 37px;
}
.header-content .nav .nav__list .nav__item .nav__link {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
.header-content .nav .nav__list .nav__item .nav__link::before, .header-content .nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.75);
  left: 0;
  right: 0;
  bottom: -3px;
  transition: transform 0.6s ease;
}
.header-content .nav .nav__list .nav__item .nav__link::before {
  transform-origin: left;
  transform: scaleX(0);
}
.header-content .nav .nav__list .nav__item .nav__link::after {
  transform-origin: right;
  transform: scaleX(0);
}
.header-content .nav .nav__list .nav__item .nav__link:hover::before {
  transform: scaleX(1);
}
.header-content .nav .nav__list .nav__item .nav__link:hover::after {
  transform: scaleX(1);
}
.header-content .connect-btn {
  background-color: rgba(99, 133, 150, 0.5);
  margin: 0 25px 0 40px;
  border: 0px;
  color: rgba(255, 255, 255, 0.75);
  padding: 13px 30px 11px;
}
.header-content .media {
  display: flex;
}
.header-content .media .media__link {
  margin-left: 15px;
  display: inline-flex;
  align-items: center;
}
.header-content .media .media__link .icon-discord:hover {
  fill: rgb(161, 79, 255);
  transition: fill 0.3s;
}
.header-content .media .media__link .icon-twitter:hover {
  fill: rgb(0, 172, 238);
  transition: fill 0.3s;
}

.collection-content {
  color: white;
  text-align: center;
}
.collection-content .collection-content__title {
  font-size: 44px;
  font-weight: 500;
}
.collection-content .collection-content__subtitle {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 1.5;
}
.collection-content .mint-btn {
  display: inline-block;
  padding: 15px 40px 11px;
  background-color: #fff;
}

.collection-content--margin {
  padding: 150px 0px;
}

.swiper {
  height: 187px;
}

.swiper-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.articles-content--margin {
  padding: 150px 0px 250px 0px;
}

.articles-content {
  color: #fff;
}
.articles-content .articles-content__title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 75px;
  text-align: center;
}
.articles-content .articles-content__row {
  display: flex;
  justify-content: space-between;
}
.articles-content .articles-content__row .articles-content__col {
  position: relative;
  flex: 0 0 32%;
  border: 1px solid #565656;
  border-radius: 30px;
  padding: 35px 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles-content .articles-content__row .articles-content__col .articles-content__main {
  padding-right: 20px;
}
.articles-content .articles-content__row .articles-content__col .articles-content__main .articles-content__acticle-title {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.articles-content .articles-content__row .articles-content__col .articles-content__main .articles-content__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
}
.articles-content .articles-content__row .articles-content__col .articles-content__link {
  display: block;
  bottom: 0;
  margin-top: 45px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.articles-content .articles-content__row .articles-content__col .articles-content__link::before {
  position: absolute;
  content: "";
  pointer-events: none;
  height: 1px;
  width: 100%;
  background-color: #565656;
  left: 0;
  margin-top: -20px;
}
.articles-content .articles-content__row .articles-content__col .articles-content__link::after {
  content: url("../img/icons/arrow.svg");
  right: 35px;
  position: absolute;
}
.articles-content .articles-content__row .articles-content__col .articles-content__link:hover {
  color: #8ae4e4;
  transition: color 0.3s;
}
.articles-content .articles-content__row .articles-content__col .articles-content__link:hover::after {
  color: #8ae4e4;
  content: url("../img/icons/arrow-color.svg");
  transition: color 0.3s;
}

.meet {
  border-radius: 0 0 50px 50px;
}

.meet-content {
  color: #fff;
}
.meet-content .meet-content__top {
  display: flex;
  margin-bottom: 110px;
  justify-content: space-between;
}
.meet-content .meet-content__top .meet-content__header, .meet-content .meet-content__top .meet-content__description {
  width: 48%;
}
.meet-content .meet-content__top .meet-content__header {
  font-size: 53px;
  font-weight: 400;
}
.meet-content .meet-content__top .meet-content__description .meet-content__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.meet-content .meet-content__top .meet-content__description .meet-content__btn-buy {
  padding: 15px 25px;
  font-size: 19px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}
.meet-content .meet-content__top .meet-content__description .meet-content__btn-collection {
  padding: 14px 25px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: 1px solid #565656;
  display: inline-block;
}
.meet-content .meet-content__top .meet-content__description .meet-content__btn-buy:hover, .meet-content .meet-content__top .meet-content__description .meet-content__btn-collection:hover {
  background-color: #44ed6f;
}
.meet-content .meet-content__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}
.meet-content .meet-content__bottom .meet-content__row, .meet-content .meet-content__bottom .meet-content__canvas {
  width: 48%;
}
.meet-content .meet-content__bottom .meet-content__row {
  color: #fff;
}
.meet-content .meet-content__bottom .meet-content__row .meet-content__col {
  padding: 40px;
  border: 1px solid #565656;
  border-radius: 28px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
}
.meet-content .meet-content__bottom .meet-content__row .meet-content__col:hover {
  background-color: #628595;
  transition: background-color 0.3s;
}
.meet-content .meet-content__bottom .meet-content__canvas {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  background-color: #628595;
  border-radius: 37px;
  padding-top: 20px;
  min-height: 634px;
}
.meet-content .meet-content__bottom .meet-content__canvas .meet-content__img {
  width: 90%;
  max-width: 497px;
  max-height: 555px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  white-space: nowrap;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: rgb(138, 228, 228);
}