/*Шрифты*/
@font-face {
  font-family: 'MacPaw Fixel';
  src: url('../fonts/FixelText-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'MacPaw Fixel';
  src: url('../fonts/FixelText-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'MacPaw Fixel';
  src: url('../fonts/FixelText-Regular.woff2');
  font-weight: 400;
}